---
import Layout from '../layouts/Layout.astro'

export const prerender = false

type WeiboItem = {
  title: string
  hot_value: number
  link: string
}

const { data } = await fetch('https://60s.viki.moe/v2/weibo').then(res => res.json())
---

<Layout>
  <dl class="mx-auto max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    {
      data.map((item: WeiboItem, index: number) => {
        return (
          <a class="flex flex-col py-2" href={item.link}>
            <dd class="font-semibold flex items-center">
              <span class="text-orange-500 dark:text-gray-400 pr-1">{index + 1}.</span>
              {item.title}
            </dd>
            {item.hot_value > 0 && (
              <dt class="text-gray-500 dark:text-gray-400 text-sm">热度: {item.hot_value}</dt>
            )}
          </a>
        )
      })
    }
  </dl>
</Layout>
