---
import Layout from '../layouts/Layout.astro'
export const prerender = false
const data = await fetch('https://weibo.com/ajax/side/hotSearch')
  .then(res => res.json())
  .then(({ data }) => {
    return data.realtime
      .filter(c => !['商业投放', '资源投放'].includes(c.ad_type))
      .filter(c => !['综艺', '剧集', '盛典'].includes(c.flag_desc))
      .filter(c => !['商'].includes(c.icon_desc))
  })
---

<Layout>
  <div class="flow-root">
    <dl class="-my-3 divide-y divide-gray-200 text-sm">
      {
        data.map(c => (
          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">{c.word}</dt>
          </div>
        ))
      }
    </dl>
  </div>
</Layout>
