---
import clsx from 'clsx'
import { Icon } from 'astro-icon/components'
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'
const isWeibo = Astro.url.pathname === '/'
const isZhihu = Astro.url.pathname === '/zhihu'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Hotop" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Hotop</title>
    <ClientRouter />
  </head>
  <body>
    <header class="h-17">
      <nav
        class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
      >
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/favicon.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-orange-500 dark:text-white"
              >Hotop</span
            >
          </a>
        </div>
      </nav>
    </header>
    <!-- p-21 -->
    <main class="p-4 pb-21">
      <slot />
    </main>
    <footer
      class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600"
    >
      <div class="flex justify-center h-full max-w-lg mx-auto font-medium">
        <a
          href="/"
          class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
        >
          <Icon name="ant-design:weibo-outlined" class={clsx('size-5', isWeibo && 'text-orange-500')} />
          <span
            class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-orange-500 dark:group-hover:text-orange-500"
            >微博</span
          >
        </a>
        <a
          href="/zhihu"
          class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
        >
          <Icon name="ant-design:zhihu-outlined" class={clsx('size-5', isZhihu && 'text-orange-500')} />
          <span
            class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-orange-500 dark:group-hover:text-orange-500"
            >知乎</span
          >
        </a>
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
